<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Petrolog Dyna</title>

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/mainpage.css') }}">
</head>
<body>


<!--Plot container-->
<div id="container" style="min-width: 310px; height: 400px; max-width: 700px; margin: 0 auto"></div>

<h2> Stats </h2>


<div id="status_container">
    <form class="status-refresh-form" role="form">

        <button class="btn btn-lg btn-primary btn-block" type="button">Refresh</button>

    </form>
    <div id="status">
        <ul>
            <li>Well Status: {{status.well_status}}</li>
            <li>Automatic: {{status.automatic}}</li>
            <li>Percent Fillage: {{status.percent_fillage}}%</li>
            <li>Run Time: {{status.run_time}}%</li>
            <li>Strokes this Cycle: {{status.strokes_this}}</li>
            <li>Strokes last cycle: {{status.strokes_last}}</li>
        </ul>
    </div>

</div>
<!--script libraries-->
<script src="static/js/jquery-3.3.1.min.js"></script>
<script src="static/js/highcharts.js"></script>
<script src="static/js/highcharts-more.js"></script>

<!--local scripts -->
<script src="static/js/dynachart.js"></script>
<script src="static/js/script.js"></script>

<!-- Latest compiled and minified JavaScript -->
<script src="static/js/bootstrap.min.js"></script>
</body>
</html>